:root {
  --white: #ffffff;
  --snow-white: #f3f9fd;
  --gray: #cccccc;
  --blue: #1183da;
  --dark-blue: #0056b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
